@import "bootstrap/scss/functions";

.astroboy-jump {
  margin-top: 7em;
  width: 55%;
}

#main {
  background-image: url(../public/images/backgrounds/main.jpg);
  background-position: 50% 15%;
  background-repeat: no-repeat;
  background-size: 200%;
}

@include media-breakpoint-up(sm) {
  .astroboy-jump {
    margin-top: 7em;
    width: 60%;
  }

  #main {
    background-position: top center;
    background-size: 180%;
  }
}

@include media-breakpoint-up(md) {
  .astroboy-jump {
    margin-top: 6em;
    padding-right: 0em;
    width: 45%;
  }

  #main {
    background-position: top center;
    background-size: 140%;
  }
}

@include media-breakpoint-up(lg) {
  .astroboy-jump {
    margin-top: 5.5em;
    padding-right: 0em;
    width: 40%;
  }

  #main {
    background-position: top center;
    background-size: 130%;
  }
}

@include media-breakpoint-up(xl) {
  .astroboy-jump {
    margin-top: -1.5em;
    padding-right: 2em;
    width: 35%;
  }

  #main {
    background-position: top center;
    background-size: contain;
  }
}

@include media-breakpoint-up(xxl) {
  .astroboy-jump {
    margin-top: 9em;
    padding-right: 4em;
    width: 55%;
  }

  #main {
    background-position: top center;
    background-size: cover;
  }
}
