@import "variables";

body {
  background-color: #000000;
}

.bg-blur {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(8px);
}

.border-alpha {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-gradient {
  background: transparent linear-gradient(292deg, $primary 0%, $success 100%) 0% 0% no-repeat padding-box;

  &:hover {
    background: transparent linear-gradient(108deg, $primary 0%, $success 100%) 0% 0% no-repeat padding-box;
  }
}

.fw-semi-bold {
  font-weight: 600 !important;
}

.hr {
  height: 1px;
  background: -moz-linear-gradient(left, rgba(0,235,255,0) 0%, rgba(0,235,255,1) 50%, rgba(0,235,255,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,235,255,0) 0%, rgba(0,235,255,1) 50%, rgba(0,235,255,0) 100%);
  background: linear-gradient(to right, rgba(0,235,255,0) 0%, rgba(0,235,255,1) 50%, rgba(0,235,255,0) 100%);
}

.monospace {
  font-family: "ocr-a-std", monospace;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
