// Color system

$green:     #56e39f;
$white:     #ffffff;

$body-bg:    #000000;
$body-color: $white;

$primary:   #2f3a85;
$secondary: #7f7f7f;
$success:   $green;
$info:      #2b79e0;
// $warning:   #efae2c;
// $danger:    #ff70a6;
$light:     #d6d6d6;

$enable-negative-margins: true;

// Components

$border-radius: .75rem;

// Dropdowns

$dropdown-link-color:       $white;
$dropdown-link-hover-color: #000000;
$dropdown-link-hover-bg:    rgba($success, .75);

// Fonts

$font-family-sans-serif: "proxima-nova", sans-serif;
$font-family-monospace: "ocr-a-std", monospace;
$web-font-path: 'data:text/css;base64,';

// Navbars

$navbar-dark-color: $white;
